In [ ]:
#1. Create a string variable named `my_string` with the value "Hello, Python!".

In [12]:
my_string="Hello, Python!"

'Hello, Python!'

In [ ]:
#2. Print the third character of `my_string`.

In [14]:
my_string[2]

'l'

In [ ]:
#3. Use slicing to print the substring "Python" from `my_string`.

In [17]:
my_string[7:]

'Python!'

In [ ]:
#4. Concatenate `my_string` with another string " Welcome to the world of programming!" and
#print the result.

In [25]:
my_string +" "+"Welcome to the world of programming!"

'Hello, Python! Welcome to the world of programming!'

In [ ]:
#5. Format the following variables into a string: `name = "Alice"`, `age = 30`, `country =
#"USA"`. The output should be "Alice is 30 years old and lives in USA".

In [35]:
name = "Alice"
age = 30
country ="USA"
print(name, "is", age, "years old and lives in", country)

Alice is 30 years old and lives in USA

In [ ]:
#6. Create a string with multiple occurrences of a character, such as "aaabbbccc". Count and
#print the number of occurrences of the character 'b'.

In [43]:
str="aaabbbccc"
str.count('b')

3

In [ ]:
#7. Convert the string "HELLO" to lowercase using a string method.

In [47]:
mystr="HELLO"
mystr.lower()

'hello'

In [ ]:
#8. Write a program that takes a sentence as input and counts the number of vowels (a, e, i,
#o, u) in the sentence.

In [9]:
sentence = input("Enter a sentence: ")
vcount=sentence.count('e')
print(vcount)

Enter a sentence:  ello

1

In [ ]:
#9. Use string interpolation to create a formatted string that includes variables `x = 10` and `y
#= 20`. The output should be "The value of x is 10 and y is 20".

In [16]:
x = 10
y = 20
print("The value of x is", x, "and y is", y)

The value of x is 10 and y is 20

In [ ]:
#10. Reverse the string "python" using slicing.

In [20]:
txt = "python"
txt[::-1]

'nohtyp'

In [ ]:
#11. Write a program that takes a sentence and a word as input and checks if the word is
#present in the sentence.

In [24]:
sent = input("Enter a sentence: ")
word = input("Enter a word to search: ")
if word in sentence:
    print("The word is present in the sentence.")
else:
    print("The word is NOT present in the sentence.")

Enter a sentence:  a
Enter a word to search:  a

The word is present in the sentence.

In [ ]:
#12. Replace all occurrences of 'a' with 'e' in the string "banana" and print the modified string.

In [30]:
str="banana" 
str.replace('a','e')

'benene'

In [ ]:
#13. Remove any leading or trailing whitespace characters from the string " Python ".

In [32]:
string= " Python "
string.strip()

'Python'

In [ ]:
#14. Split the string "Hello,World,Python" into a list of words and print the list.

In [34]:
string= "Hello,World,Python"
string.split(",")

['Hello', 'World', 'Python']

In [ ]:
#15. Check if the string "racecar" is a palindrome (reads the same forwards and backwards).

In [36]:
str = "racecar"

if str == str[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
#16. Write a program that capitalizes the first letter of each word in a given sentence.

In [40]:
str= "Write a program that capitalizes the first letter of each word in a given sentence."
str.title()

'Write A Program That Capitalizes The First Letter Of Each Word In A Given Sentence.'

In [ ]:
#17. Find the index of the first occurrence of the substring "Python" in the string "Hello,
#Python Programming".

In [42]:
string= "Hello, Python Programming"
string.find("Python")

7

In [ ]:
#18. Join the elements of a list ['apple', 'banana', 'cherry'] into a single string separated by
#commas.

In [46]:
fruits = ['apple', 'banana', 'cherry']
','.join(fruits)

'apple,banana,cherry'

In [ ]:
#19. Write a program that takes a string input and prints the string in reverse order.

In [1]:
string=input("Enter a string")
reverse=string[::-1]
print(reverse)

Enter a string pardeep

peedrap

In [ ]:
#20. Use string formatting to create a table-like output for the following data: `name = "John"`,
#`age = 25`, `country = "USA"`.

In [10]:
thistuple = {"apple", "banana", "cherry"}

In [11]:
mylist=list(thistuple)

In [12]:
mylist.append("pineapple")

In [14]:
thistuple=tuple(mylist)

In [15]:
thistuple

('cherry', 'banana', 'apple', 'pineapple')

In [23]:
for i in thistuple:
    if i[0]=='a':
        print(i)

apple

In [24]:
mytuple=(1,2,3,4,5,6,7,8,9,10)

In [25]:
for i in mytuple:
    if i%2==0:
        print(i)

2
4
6
8
10

In [3]:
num = int(input("Enter a number: "))
if num%2==0:
    print(num*num)
else:
    print(number is odd)

Enter a number:  4

16

In [6]:
for i in range(3, 29):
    if i % 2 != 0:
        print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27

In [8]:
for i in range(1,11):
    if i%2==0:
        print(i*i)
    else:
        print("")

4

16

36

64

100